In [1]:
import pandas as pd
import numpy as np

In [2]:
whr_2017 = pd.read_csv("whr_2017.csv")
whr_2017.head()

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182

In [3]:
gini_index_original = pd.read_csv("gini_per_country.csv")
gini_index_original.head()

   Unnamed: 0         name  gini
0           0       Norway  25.8
1           1      Denmark  24.0
2           2      Iceland   NaN
3           3  Switzerland  33.7
4           4      Finland  26.9

In [4]:
gini_index = gini_index_original.rename(columns={"name": "Country"}).drop(columns="Unnamed: 0")
gini_index.head()

       Country  gini
0       Norway  25.8
1      Denmark  24.0
2      Iceland   NaN
3  Switzerland  33.7
4      Finland  26.9

In [5]:
happy_gini = pd.merge(whr_2017, gini_index, on = "Country")
happy_gini.head()

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual,gini
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027,25.8
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707,24.0
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715,NaN
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716,33.7
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182,26.9

In [6]:
happy_gini[["Country","Happiness.Rank","Happiness.Score","gini"]].sort_values(by = "gini", ascending= True)

                      Country  Happiness.Rank  Happiness.Score  gini
1                     Denmark               2            7.522  24.0
8                      Sweden               9            7.284  25.0
0                      Norway               1            7.537  25.8
36                   Slovakia              40            6.098  26.0
12                    Austria              13            7.006  26.0
20             Czech Republic              23            6.609  26.0
110                   Ukraine             132            4.096  26.4
58                    Belarus              67            5.569  26.5
4                     Finland               5            7.469  26.9
63                     Serbia              73            5.395  27.8
119               Afghanistan             141            3.794  27.8
90                   Bulgaria             105            4.714  28.2
14                    Germany              16            6.951  28.3
52                 Kazakhstan              60            5.819  29.0
103                  Ethiopia             119            4.460  29.8
69                   Pakistan              80            5.269  30.0
71                 Montenegro              83            5.237  30.0
50                    Romania              57            5.825  30.0
9                   Australia              10            7.284  30.5
16                 Luxembourg              18            6.863  30.8
89                      Egypt             104            4.735  30.8
82                 Tajikistan              96            5.041  30.8
5                 Netherlands               6            7.377  30.9
101                      Iraq             117            4.497  30.9
105                   Armenia             121            4.376  30.9
65                    Hungary              75            5.324  31.2
53                   Slovenia              62            5.758  31.2
94                 Bangladesh             110            4.608  32.1
6                      Canada               7            7.316  32.6
28                     France              31            6.442  32.7
..                        ...             ...              ...   ...
129                    Rwanda             151            3.471  50.8
27                     Panama              30            6.452  51.9
17                      Chile              20            6.652  52.1
61                   Paraguay              70            5.493  52.4
117                   Lesotho             139            3.808  52.5
45                     Belize              50            5.956  53.1
100                    Zambia             116            4.514  54.6
19                     Brazil              22            6.635  54.7
32                   Colombia              36            6.357  55.9
26                  Guatemala              29            6.454  55.9
131  Central African Republic             155            2.693  56.3
79                   Honduras              91            5.181  57.0
118                    Angola             140            3.795  58.6
123                     Haiti             145            3.603  59.2
120                  Botswana             142            3.766  61.0
87               South Africa             101            4.829  63.1
95                    Namibia             111            4.574  63.9
2                     Iceland               3            7.504   NaN
18       United Arab Emirates              21            6.648   NaN
24                      Malta              27            6.527   NaN
33               Saudi Arabia              37            6.344   NaN
35                     Kuwait              39            6.105   NaN
37                    Bahrain              41            6.087   NaN
55                  Mauritius              64            5.629   NaN
56                     Cyprus              65            5.621   NaN
59                      Libya              68            5.525   NaN
76                    Lebanon              88            5.225   NaN
80                    Somalia              93            5.151   NaN
98                    Myanmar             114            4.545   NaN
116                  Zimbabwe             138            3.875   NaN

[132 rows x 4 columns]

# Binning of Gini-Index

In [7]:
happy_gini.isnull().sum()
happy_gini["gini"][2]

#happy_gini.describe()
happy_gini["gini"][3]

33.7

In [8]:
happy_gini["gini"] = happy_gini['gini'].fillna(0)

In [9]:
gini = ["no Data","low", "middle", "high"]
cutoffs = ["0","24", "37","50","65"]

happy_gini["grade_gini"] = pd.cut(happy_gini["gini"],cutoffs,labels = gini)
happy_gini.head()

# qcuts

TypeError: ufunc 'subtract' did not contain a loop with signature matching types dtype('<U2') dtype('<U2') dtype('<U2')

In [ ]:
happy_gini[["Country","Happiness.Rank","Happiness.Score","gini","grade_gini"]].sort_values(by = "Happiness.Rank", ascending= True)